<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.boisestate.Project3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_custom_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_custom_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="edu.boisestate.Project3.RecommendedJSONConsumeData"></activity>
        <activity android:name="edu.boisestate.Project3.MakeupAPIConsumeData" />
        <activity android:name="edu.boisestate.Project3.UserProductsList" />
        <activity android:name="edu.boisestate.Project3.UserHomepage" />
        <activity android:name="edu.boisestate.Project3.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>